.home-container{
  background-color: black;
  background-repeat: no-repeat;
  background-size:cover;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(C:\Users\91700\OneDrive\Desktop\Startappss\Roadmap\Week-7\asmt-13th-Feb\harry-potter-wiki\src\assets\harry-potter-screen.jpg);
  padding: 4rem;
  /* background-blend-mode:luminosity; */
}
.home-box{
  /* height: 150px;
  width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #20202797;
  font-size: 1.5rem;
  backdrop-filter:unset;
}
.home-box:hover{
  background-color:  #202027;
}
.character-content{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  justify-items:center;
  gap: 2rem;
  backdrop-filter: blur(5px);
}
.character-content .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.char-box{
  display: flex;
  width: 100%;
  height:fit-content;
  flex-direction: column;
  object-fit: cover;
  border-radius: 1rem;
  background-color: #000009;
  color: white;
 
}
.char-box img{
  height: 50%;
  width: 100%;
  border-top-left-radius:inherit ;
  border-top-right-radius: inherit;
  /* object-fit: contain; */
}
.spells{
  /* background: rgba(255, 255, 255, 0.2); */
   background: rgba(3, 2, 34, 0.838);
border-radius: 10px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(30px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.house-container{
  background-color: #202027;
}