.nav{
    /* background-color: rgb(69, 37, 1); */
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 5rem;
}
.nav .heading{
    font-size: 1.2rem;
}
.nav-list{
    padding: 1rem;
}