body{
   background-image: url(C:\Users\91700\OneDrive\Desktop\Startappss\Roadmap\Week-7\asmt-13th-Feb\harry-potter-wiki\src\assets\harry-potter-screen.jpg);
border-radius: 10px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(50px);
    backdrop-filter: brightness(0.5), blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
background-repeat: no-repeat;
 background-attachment: fixed;
 overflow-x:hidden;
}